<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HandDrawing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C851A4A41DBC6F4E00ECCC92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C851A4B81DBC6F4F00ECCC92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C851A4C31DBC6F4F00ECCC92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
